body{
    font-family: 'Nunito Sans', Courier, monospace;
    background-color: #d3d3d3;
}
.bg-holder{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);

}
h3{
    color: rgb(30, 40, 61);
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: rgb(114, 126, 136);
}
.btn{
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn i{
    vertical-align: text-top;

}
.divider-content-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #d3d3d3;
    font-size: 1rem;
    font-weight: 500;
    color: #999;
}
.divider{
    margin: 2rem 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}